body {
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: blue;
}

h2 {
  font-size: 25px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 40px;
}

test-prefxer {
  display: -ms-flexbox;
  display: flex;
}
